@use 'variaveis';

@keyframes neon{
    0%{
        box-shadow: 0 0 2000 variaveis.$corLaranja;
    }

    10%{
        box-shadow: 0 0 1000 variaveis.$corLaranja;
    }

    20%{
        box-shadow: 0 0 500 variaveis.$corLaranja;
    }

    30%{
        box-shadow: 0 0 1000 variaveis.$corLaranja;
    }

    40%{
        box-shadow: 0 0 800 variaveis.$corLaranja;
        transition: all .2s ease-in;
    }

    41%{
        box-shadow: none;
    }

    42%{
        box-shadow: 0 0 1000 variaveis.$corLaranja;
    }

    43%{
        box-shadow: none;
    }
    
    44%{
        box-shadow: 0 0 700 variaveis.$corLaranja;
    }

    50%{
        box-shadow: 0 0 2000 variaveis.$corLaranja;
    }

    60%{
        box-shadow: 0 0 800 variaveis.$corLaranja;
    }

    70%{
        box-shadow: 0 0 1200 variaveis.$corLaranja;
    }

    80%{
        box-shadow: 0 0 1000 variaveis.$corLaranja;
    }

    81%{
        box-shadow: none;
    }

    82%{
        box-shadow: 0 0 900 variaveis.$corLaranja;
    }

    90%{
        box-shadow: 0 0 700 variaveis.$corLaranja;
    }

    100%{
        box-shadow: 0 0 1000 variaveis.$corLaranja;
    }
}

@keyframes cursor{
    50%{
        border-color: transparent;
    }
}

@keyframes typing{
    from{
        width: 0;
    }
}


.land{
    &__diagonal{
        left: -100px;
        position: absolute;
        height: 110vh;
        background-color: black;
        width: 50vw;
        -webkit-transform: skew(15deg);
        border-left: 10px black;
        box-shadow: 0 0 1000 variaveis.$corLaranja;
        animation: neon 10s infinite;

        &__container{
            margin-left: 120px;
            -webkit-transform: skew(-15deg);
            height: 100vh;
            background-color: transparent;

            h1{              
                &:hover{
                    color: white;
                }
            }
        }
    }
}

.type{
    letter-spacing: 2px;
    border-right: 4px solid white;
    white-space: nowrap;
    overflow: hidden;
    max-width: min-content;
    width: 100%;
    animation: typing 5s steps(40) infinite,
        cursor .4s step-end infinite alternate;
}



#particles-js{
    width: 100%;
    height: 100vh;
    background-color: #151515;
    /*background-image: url('');*/
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}




.music{
    margin-top: 100px;
}