@use 'variaveis';

@keyframes rotate-linear{
    0%{
        rotate: 0;
        // transform: rotate(0);
    }

    100%{
        // transform: rotate(360deg);
        rotate: 360deg;
    }
}

@keyframes neon{
    0%{
        box-shadow: 0 0 2000 variaveis.$corLaranja;
    }

    10%{
        box-shadow: 0 0 1000 variaveis.$corLaranja;
    }

    20%{
        box-shadow: 0 0 500 variaveis.$corLaranja;
    }

    30%{
        box-shadow: 0 0 1000 variaveis.$corLaranja;
    }

    40%{
        box-shadow: 0 0 800 variaveis.$corLaranja;
        transition: all .2s ease-in;
    }

    41%{
        box-shadow: none;
    }

    42%{
        box-shadow: 0 0 1000 variaveis.$corLaranja;
    }

    43%{
        box-shadow: none;
    }
    
    44%{
        box-shadow: 0 0 700 variaveis.$corLaranja;
    }

    50%{
        box-shadow: 0 0 2000 variaveis.$corLaranja;
    }

    60%{
        box-shadow: 0 0 800 variaveis.$corLaranja;
    }

    70%{
        box-shadow: 0 0 1200 variaveis.$corLaranja;
    }

    80%{
        box-shadow: 0 0 1000 variaveis.$corLaranja;
    }

    81%{
        box-shadow: none;
    }

    82%{
        box-shadow: 0 0 900 variaveis.$corLaranja;
    }

    90%{
        box-shadow: 0 0 700 variaveis.$corLaranja;
    }

    100%{
        box-shadow: 0 0 1000 variaveis.$corLaranja;
    }
}

@keyframes cursor{
    50%{
        border-color: transparent;
    }
}

@keyframes typing{
    from{
        width: 0;
    }
}


.land{
    &__diagonal{
        left: -100px;
        position: absolute;
        height: 110vh;
        background-color: black;
        width: 50vw;
        -webkit-transform: skew(15deg);
        border-left: 10px black;
        box-shadow: 0 0 1000 variaveis.$corLaranja;
        animation: neon 10s infinite;

        &__container{
            padding-left: 20px;
            margin-left: 120px;
            -webkit-transform: skew(-15deg);
            height: 100vh;
            background-color: transparent;

            p{
                margin-top: 32px;
            }

            h1{           
                margin-top: 16px;
                &:hover{
                    color: white;
                }
            }

            .portifolio{
                margin-bottom: 16px;

                &__link{
                    text-decoration: underline;
                }
            }

            .see-more{
                margin-left: 12.5vw;
                padding: 8px;
                display: inline;
                position: relative;
                cursor: pointer;
                padding-bottom: 16px;
                padding-left: 16px;
            
                &::before, &::after{
                    content: '';
                    color: transparent;
                    width: 100%;
                    height: 100%;
                    display: block;
                    position: absolute;
                    border: 3px white solid;
                    bottom: 0px;
                    left: 0px;
                    transition: .3s ease;
                } 

                &:hover{
                    &::before{  
                        bottom: 5px;
                        left: 5px;                   
                    }

                    &::after{   
                        bottom: -5px;
                        left: -5px;                  
                    }
                }
            }


            .contacts{
                margin-top: 64px;
            }

            .contact{
                margin-left: 10%;
                max-width: 80%;
                display: flex;
                justify-content: space-between;
                padding-top: 8px;
            }

            .song{
                margin-top: 164px;
            }

            .hover{
                display: none;
            }

            a:hover{
                text-shadow: 0 0 256px variaveis.$corLaranja;
                .hover{
                    display: inline;
                    transition: all .5s;
                }
            }
        }
    }
}

.bi-gear{
    animation: rotate-linear 2s infinite;
}

.type{
    letter-spacing: 2px;
    border-right: 4px solid white;
    white-space: nowrap;
    overflow: hidden;
    max-width: min-content;
    width: 100%;

    &-fs{
        animation: typing 5s steps(55) 1,
            cursor .5s step-end infinite alternate;
            
        margin-bottom: 128px;
    }

    &-tm{
        animation: typing 5s steps(55) 1,
            cursor .5s step-end infinite alternate;
    }

    
}

.preview{
    top: calc(50% - 200px);
    right: 20%;
    position: absolute;
    
    .img-container{

        img{
            max-width: 200px;
            width: 100%;
            border-radius: 50%;
            box-shadow: 0 0 256px variaveis.$corLaranja;
        }

        .circle{
            position: absolute;
            border-radius: 50%;
            width: 100%;
            aspect-ratio: 1;
            background-color: transparent;

            &1{
                border-bottom: 1px solid variaveis.$corLaranja;
                transform: scale(1.1);
                animation: rotate-linear 20s 60 linear reverse;
            }

            &2{
                border-top: 2px solid variaveis.$corLaranja;
                border-right: 2px solid variaveis.$corLaranja;
                transform: scale(1.3);
                animation: rotate-linear 15s 60 linear;
            }

            &3{
                border-left: 1px solid variaveis.$corLaranja;
                transform: scale(1.5);
                animation: rotate-linear 30s 60 linear reverse;
            }

            &4{
                border-right: 2px solid variaveis.$corLaranja;
                border-bottom: 2px solid variaveis.$corLaranja;
                transform: scale(1.7);
                animation: rotate-linear 10s 60 linear;
            }

            &5{
                border-left: 1px solid variaveis.$corLaranja;
                border-top: 1px solid variaveis.$corLaranja;
                transform: scale(1.9);
                animation: rotate-linear 20s 60 linear reverse;
            }
        }

        &:hover{
            .circle{
                &1{
                    animation: rotate 20s 60 linear reverse;
                    border: 1px solid variaveis.$corLaranja;
                }
    
                &2{
                    animation: rotate 15s 60 linear;
                    border: 1px solid variaveis.$corLaranja;
                }
    
                &3{
                    animation: rotate 30s 60 linear reverse;
                    border: 1px solid variaveis.$corLaranja;
                }
    
                &4{
                    animation: rotate 10s 60 linear;
                    border: 1px solid variaveis.$corLaranja;
                }

                &5{
                    animation: rotate 20s 60 linear reverse;
                    border: 1px solid variaveis.$corLaranja;
                }

                transition: all 3s;
            }

            img{
                animation: neon 7s infinite;
            }
        }

        
    }

    

    h3, h4, a{
        text-align: center;
        z-index: 3;
    }

    h4{
        font-size: 12px;
    }
}



#particles-js{
    width: 100%;
    height: 100vh;
    background-color: #020202;
    /*background-image: url('');*/
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.music{
    position: absolute;
    bottom: 24px;
    left: 16px;
}

