@keyframes rotate{
    from{
        rotate: 0deg;
    }

    50%{
        scale: 1 1.5;
    }

    to{
        rotate: 360deg;
    }
}

@keyframes aparecer{
    from{
        height: 0px;
    }

    to{
        height: 200px;
    }
}

#seguidor{
    display: none;
    position: absolute;
    background: linear-gradient(
        to right,
        yellow,
        red
    );
    filter: blur(200px);
    aspect-ratio: 1;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    -webkit-transform: skew(-15deg);
}

.anim-aparecer-rotate{
    animation: aparecer 7s forwards, rotate 20s infinite;
}

.show{
    display: block;
    height: 200px;
}

#blur{
    height: 100%;
    width: 100%;
    position: absolute;
}