@keyframes rotate{
    from{
        rotate: 0deg;
    }

    50%{
        scale: 1 1.5;
    }

    to{
        rotate: 360deg;
    }
}

@keyframes aparecer{
    from{
        height: 0px;
    }

    to{
        height: 250px;
    }
}

#seguidor{
    display: none;
    position: absolute;
    background: linear-gradient(
        to right,
        yellow,
        red
    );
    filter: blur(200px);
    aspect-ratio: 1;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
}

.rotate{
    animation: rotate 20s infinite;
}

.show{
    animation: aparecer 7s forwards;
    height: 250px;
    display: block;
}

#blur{
    height: 100%;
    width: 100%;
    position: absolute;
}